<form>
  Full Name<br>
  <input type="text" name="firstname">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Password<br>
  <input type="password" name="password">

  <br>
  <br>
  <br>
  <br>
  <br>

  Product Category<br>
  <input type="text" name="product_category">
  <br>
  Product Description:<br>
  <input type="text" name="product_description">
  <br>
  Password<br>
  <input type="password" name="password">
  <br>
  Image<br>
  <input type="text" name="img_url">
  <br><br>
  <button method="POST">Sumbit</button>
</form>

<style>
  body {
    text-align: center;
  }
</style>