
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Swapcatz 🐱 - Swap and trade site</title>
  </head>
  <body>
    <div class="container">
      <!-- Nav Bar -->
      <div class="navContainer">
        <nav>
          <h1 class="title"><a href="/">Swapcatz</a></h1>
          <img class="logo" src="/logo.png" alt="">
        </nav>
          <div class="buttonWrapper">
            <button class="listItem">List my item</button>
          </div>
        <div class="block"></div>
      </div>

      <!-- Searchbar -->
      <div class="inputContainer">
        <label>Search items</label>
        <input method="POST" class="inputField" placeholder="Trade term here">
        <button method="POST">Search</button>
      </div>
      
        <!-- Categories -->
        <div class="categoriesContainer">

            <div class="cat1">
              <a href="/shoes">
                <div class="cat1Inner">
                    <h3>Kickz</h3>
                    <img class="image" src="/shoes.jpg" alt="">
                </div>
              </a>
            </div>

            <div class="cat2">
              <a href="/electronics">
                <div class="cat2Inner">
                  <h3>Electronicz</h3>
                  <img class="image" src="/electronics.png" alt="">
                </div>
              </a>
            </div>

            <div class="cat3">
                <a href="/random">
                  <div class="cat2Inner">
                    <h3>Randomz</h3>
                    <img class="image" src="/random.png" alt="">
                </div>
              </a>
          </div>
          </a>
        </div>
      
    </div>
  </body>
</html>